<ion-header>
  <ion-toolbar>
    <ion-title> <img src="../../assets/Group (1).png" alt="Register"></ion-title>
  </ion-toolbar>
  <img src="../../assets/Group5.png" alt="Bike" class="Sunset">
  <img src="../../assets/Info_Dump.png" alt="Info" class="Info">
  <ion-button class="Vector" color="clear" href="tabs/civilian"><img src="../../assets/Vector (2).png" alt="Vector"></ion-button>
  <img src="../../assets/Rectangle.png" alt="Rectangle" class="Rect">
  <img src="../../assets/Photos.png" alt="Gallery" ng-click="nextpage()" class="Button1">
  <img src="../../assets/Photos.png" alt="Gallery" ng-click="nextpage()" class="Button2">
  <p class="Oof">Bike Registered</p>
  <p class="Para">Register</p>
  <p class="Graph">Register</p>
</ion-header>

