.One{
    height: 50px;
    width: 50px;
  }
  
  .Words{
      color: black;
  }
  .Header{
    padding-bottom: 0px;
  }
  
  .Content{
    padding-top: 0px;
  }
  .Arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .IconOne{
    height: 30px;
    width: 30px;
  }

