<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/Group (1).png" alt="Register">
    </ion-title>
  </ion-toolbar>
</ion-header>
<img alt="Bike" src="../../assets/Title.png">
<ion-content><ion-card class="welcome-card">
  <ion-card-header class="Header">
    <img src="../../assets/One Icon.png" alt="1" class="IconOne"> <h3 class="Words">Picture of the bike</h3>
  </ion-card-header>
  <ion-card-content class="Content">
    <p class="Words">It will provide a dipicture of your bike for easier identification.</p>
  </ion-card-content>
</ion-card>
<img src="../../assets/Arrow_Icon.png" alt="Arrow" class="Arrow">
<ion-card class="welcome-card">
  <ion-card-header class="Header">
      <img src="../../assets/Number_2.png" alt="2" class="IconOne"><h3 class="Words">Serial Number of Bike</h3>
  </ion-card-header>
  <ion-card-content class="Content">
    <p class="Words">You'll need the bikes' serial number (commonly found underneath the bike on a sticker.</p>
  </ion-card-content>
</ion-card>
<img src="../../assets/Arrow_Icon.png" alt="Arrow" class="Arrow">
<ion-card class="welcome-card">
  <ion-card-header class="Header">
      <img src="../../assets/Number_3.png" alt="3" class="IconOne"><h3 class="Words">Personal Information</h3>
  </ion-card-header>
  <ion-card-content class="Content">
    <p class="Words"> This will help the police return the bike to it's original owner.</p>
  </ion-card-content>
</ion-card>
</ion-content>