.Top{
  position: absolute;
width: 425px;
height: 205px;
left: 0px;
top: 0px;

background: #05386B;
opacity: 0.55;
}
.Boo{
  position: absolute;
width: 320px;
height: 83px;
left: 35px;
top: 35px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 18px;
text-align: center;

color: #05386B;

}
.Bruh{
  position: absolute;
width: 230px;
height: 43px;
left: 85px;
top: 1000px;

background: #05386B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 21.5px;
}
.text{
  position: absolute;
width: 332px;
height: 15px;
left: 50px;
top: 200px;

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 15px;
/* identical to box height */
color: #05386B;

}
.register{
  position: absolute;
left: 15px;
right: 70.4%;
top: 310px;
bottom: 65.35%;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
text-align: center;

color: black;
}
.talk{
  position: absolute;
width: 40px;
height: 40px;
left: 46px;
top: 275px;
}
.eye{
  position: absolute;
width: 49px;
height: 39px;
left: 185px;
top: 275px;

}
.oof{
  position: absolute;
left: 36.53%;
right: 36.8%;
top: 310px;
bottom: 63.44%;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
text-align: center;

color: #000000;

}
.head{
  position: absolute;
left: 77.6%;
right: 12.53%;
top: 275px;
bottom: 70.29%;
height: 40px;
width: 40px;

}
.Rock{
  position: absolute;
left: 67.2%;
right: 1.87%;
top: 310px;
bottom: 65.91%;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 13px;
text-align: center;

color: #000000;

}
.div{
  position: absolute;
width: 425px;
height: 287px;
left: 0px;
top: 400px;

background: #05386B;
}
.percent{
  position: absolute;
width: 321.99px;
height: 148.4px;
left: 50px;
top: 475px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 18px;
text-align: center;

color: #FFFFFF;

transform: matrix(1, 0, 0, 1, 0, 0);
}
.Logo{
  position: absolute;
width: 121.27px;
height: 114.46px;
left: 150px;
top: 400px;
}
.Police{
  border-radius: 376.5px;
  position: absolute;
width: 405px;
height: 321px;
left: 0px;
top: 650px;
}
.Fish{
  position: absolute;
width: 316px;
height: 56px;
left: 50px;
top: 900px;

font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #000000;
}