<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/Group (1).png" alt="Register">
    </ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <img src="../../assets/Los Angeles.png" alt="Top" class="Top">
  <h1 class="Boo">Our goal is to increase the number of bikes returned and number bikes of registered, 
    while keeping our communitties bikes theft as low as possible</h1>
  <p class="text"> How does Pedal work and how does it</p><p class="text2">help against theft?</p>
  <img src="../../assets/cantverbalizeicon (1).png" alt="talk" class="talk">
  <p class="register">Register your bike through Pedal to make it an official registration linked with the LAPD</p>
  <img src="../../assets/witness icon.png" alt="eye" class="eye">
  <p class="oof">Keep an eye out for your mail to recieve our special QR code stickers that will be placed on the bike</p>
  <img src="../../assets/attention design.png" alt="head" class="head">
  <p class="Rock">If your bike is stolen you can report it on the website and any bike with the QR code can be identified if found by the police and returned </p>
  <div class="div"></div>
  <img src="../../assets/Logo.png" alt="Logo" class="Logo">
  <p class="percent">48% of bike are recovered by Police but only 5% of those bikes are brought back to the owners. There has been over 210,905 bike thiefts, 
    2% of the thiefts are arrested, and few as 70% of thefts are even reported.</p>
    <img src="../../assets/image 2.png" alt="Police" class="Police">
    <p class="Fish">Register your bike with Pedal to make it an official LAPD registration. This will increases the probability of your bike being returned if stolen.</p>
<ion-button expand="block" href="tabs/tab4" class="Bruh" color="clear">Register</ion-button> 
</ion-content>
