<ion-header>
  <ion-toolbar>
    <ion-title>
    <img src="../../assets/Group (1).png" alt="Register">
    </ion-title>
  </ion-toolbar>
  <img class="Bike" src="../../assets/Group6.png" alt="Bike">
</ion-header>
<ion-content><h1 class="Info">Personal Info</h1>
<div>
  <ion-input placeholder="  Name&Surname" color="dark" class="Text1"></ion-input>
</div>

<div>
  <ion-input placeholder="  Address" color="dark" class="Text2"></ion-input>
</div>

<div>
  <ion-input placeholder="  Email" color="dark" class="Text3"></ion-input>
</div>
<h1 class="Info2">Bike Info</h1>
<div>
  <ion-input placeholder="  Serial #" color="dark" class="Text4"></ion-input>
</div>

<div>
  <ion-input placeholder="  Brand" color="dark" class="Text5"></ion-input>
</div>

<div>
  <ion-input placeholder="  Color" color="dark" class="Text6"></ion-input>
</div>

<p class="Para">Add up to three pictures of your bike for easier Identification. 
  It is recommended that each picture is a different angle or of any feature 
  that makes it unique.</p>

<img src="../../assets/Photos.png" alt="Gallery" ng-click="nextpage()" class="Button"> 
<img src="../../assets/Photos.png" alt="Gallery" ng-click="nextpage()" class="Button1">
<img src="../../assets/Photos.png" alt="Gallery" ng-click="nextpage()" class="Button2"> 

<ion-button expand="block" href="tabs/tab4" class="Bruh" color="clear">Finish Registration</ion-button>
</ion-content>

