<ion-header>
  <ion-toolbar *navbar hide-tabs>
    <ion-title><img src="../../assets/Group (1).png" alt="Register"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="Back" >
<img src="../../assets/PedalLogo.png" alt="Logo" class="Logo">
<div>
  <ion-input placeholder="   Username" color="white" class="Text5"></ion-input>
</div>
<div>
  <ion-input placeholder="   Password" color="white" class="Text6"></ion-input>
</div>
<ion-button class="Button1" href="tabs/tab1" color="clear">Login</ion-button>
</ion-content>